:root {
  --primary: #3ca7bf;
  --business: #b347d4;
  --personal: var(--primary);
  --light: black;
  --grey: #888;
  --dark: #313154;
  --danger: #ff5b57;

  --shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "montserrat", sans-serif;
}
h3 {
  color: white;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}